<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<bean id="Transaction"
		class="webDemo.transaction.impl.TransactionImpl"></bean>
	<bean id="AdminDao" class="webDemo.dao.impl.AdminDaoImpl"></bean>
	<bean id="AdminService"
		class="webDemo.service.impl.AdminServiceImpl">
		<property name="adminDao" ref="AdminDao"></property>
		<property name="transaction" ref="Transaction"></property>
	</bean>
</beans>